

<footer class="bg-sky-600 shadow dark:bg-gray-900 mt-16 w-full">
        
        <span class="block text-sm text-white sm:text-left my-8 ml-24">© 2023 All Rights Reserved.</span>
</footer>

</body>


</html>